In [2]:
#ArithmeticError
try:  
    a = int(input(' '))
    b = int(input(' '))
    print (a/b)
except ArithmeticError:  
        print ("arithmetic exception.")
else:  
    print ("Success.")

 6
 0
arithmetic exception.

In [3]:
#index error
try: 
    a = [1, 2, 3] 
    print (a[7]) 
except LookupError: 
    print ("Index error.")
else: 
    print ("Success")

Index error.

In [4]:
#AssertionError
try:
    x = 1
    y = 0
    assert y != 0, "Invalid Operation"
    print(x / y)
except AssertionError as msg:
    print(msg)

Invalid Operation

In [5]:
#AttributeError
X = 10
try:
    X.append(6)
except AttributeError:
    print(X)

10

In [6]:
#typeerror
try:
    name = "kavin"
except TypeError:
    print(name())
print('type error')

type error

In [7]:
#ZeroDivisionError
try:  
    a = 100 / 0
    print (a)
except ZeroDivisionError:  
        print ("Zero Division " )
else:  
    print (" no error")

Zero Division

In [8]:
#OverFlow Exception

try:  
    import math
    print(math.exp(1000))
except OverflowError:  
        print ("OverFlow Exception")
else:  
    print (" no error!")

OverFlow Exception

In [9]:
#NameError
try:
    print (ans)
except NameError:  
    print ("Name Error")
else:  
    print ("no error!")

Name Error

In [10]:
#valueError
try:
    print (float('kavin'))
except ValueError:
    print ('Value Error')
else:
    print ('no error!')

Value Error

In [ ]:
#class

In [11]:
class student:
    student_details= 'student'
    def __init__(self, name, course):
        self.name = name
        self.course =course


student_1= student("kavin", "Mechanical")
student_2= student("vijay", "computer science")

print('student details:')
print('Role: ',student_1.student_details)
print('name: ', student_1.name)
print('Course: ',student_1.course)


print('student details:')
print('Role: ',student_2.student_details)
print('name: ', student_2.name)
print('Course: ',student_2.course)




print(student.student_details)

student details:
Role:  student
name:  kavin
Course:  Mechanical
student details:
Role:  student
name:  vijay
Course:  computer science
student

In [12]:
#inheritance
class Person:
  def __init__(self, first_name, last_name):
    self.firstname = first_name
    self.lastname = last_name

  def fullname(self):
    print(self.firstname, self.lastname)


x = Person("kavin", "sharaj")
x.fullname()

kavin sharaj

In [14]:
#encapsulation
class Computer:

    def __init__(self):
        self.__maxprice = 900

    def sell(self):
        print("Selling Price: {}".format(self.__maxprice))

    def setMaxPrice(self, price):
        self.__maxprice = price

c = Computer()
c.sell()
c.__maxprice = 1000
c.sell()

c.setMaxPrice(1000)
c.sell()

Selling Price: 900
Selling Price: 900
Selling Price: 1000

In [15]:
class Tomato(): 
     def type(self): 
       print("Vegetable") 
     def color(self):
       print("Red") 
class Apple(): 
     def type(self): 
       print("Fruit") 
     def color(self): 
       print("Red") 
      
def func(obj): 
       obj.type() 
       obj.color()
        
obj_tomato = Tomato() 
obj_apple = Apple() 
func(obj_tomato) 
func(obj_apple)

Vegetable
Red
Fruit
Red

In [16]:
#inbuiltfunctions

In [17]:
x = input('Enter your name:')
print('Hello ' + x)

Enter your name:kavin
Hello kavin

In [18]:
x=complex(input('Enter the num'))
print(abs(x))

Enter the num3+5j
5.830951894845301

In [19]:
mydict = {0 : "Apple", 1 : "Orange", 2 : 'Mango'}
x = all(mydict)
x

False

In [20]:
mydict = {0 : "Apple", 1 : "Orange", 2 : 'Mango'}
x = any(mydict)
x

True

In [22]:
names = ['vijay', 'amruth', 'yuga']
ages = [21, 22, 21]
 
for i, (name, age) in enumerate(zip(names, ages)):
    print( name, age)

vijay 21
amruth 22
yuga 21

In [23]:
mylist = ['apple', 'banana', 'cherry']
x = frozenset(mylist)
x[1] = "strawberry"

TypeError: 'frozenset' object does not support item assignment

In [24]:
ages = [5, 12, 17, 18, 24, 32]

adults = list(filter(lambda age: age>18, ages))
 
print(adults)

[24, 32]

In [25]:
list_1 = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
 
final_list = list(map(lambda x: x%2 , list_1))
print(final_list)

[1, 1, 0, 1, 0, 0, 1, 1, 1, 1]

In [26]:
#defaultargument
def greet(name, msg="Good morning!"):


    print("Hello", name + ', ' + msg)


greet("Kavin")

Hello Kavin, Good morning!

In [27]:
#arbitaryarguments
def greet(*names):
    for name in names:
        print("Hello", name)


greet("deepa", "vijay", "amruth", "yuga")

Hello deepa
Hello vijay
Hello amruth
Hello yuga

In [28]:
#keywordargument
def student(student_1, student_2, student_3):
  print("" +student_3 )

student(student_1 = "amruth",student_2='yuga',student_3='vijay')

The youngest studnet is vijay